<form  class="row backgroundHs" action="/all_documentUser" method="get">
  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
    <input type="text" class="col-xl-10 backgroundImput form-control" name="filterName" placeholder="name document"> -->
  </div>
  <!-- <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
    <input list="browsers" name="filterName" class="col-xl-10 backgroundImput form-control"/>
      <datalist id="browsers">
        <%@allDoc && @allDoc.each do |element|%>
          <option value="<%=element.name%>">
        <%end%>
      </datalist>
  </div> -->
  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
    <input class="col-xl-10 backgroundImput form-control" id="date" type="date" name="dateDoc">
  </div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
    <select name="filter" class="col-xl-10 backgroundImput form-control">
      <option value="nameO">Nombre</option>
      <option value="dateO">Fecha</option>
    </select>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
    <input list="browsers" name="category" class="col-xl-10 backgroundImput form-control" placeholder="Ingrese categoria"/>
      <datalist id="browsers">
        <%@allCat && @allCat.each do |element|%>
          <option value="<%=element.name%>">
        <%end%>
      </datalist>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
    <button id="buttonIndexDocA" class="buttonForm nav-link" type="submit">Filtrar</button>
  </div>
</form>
<div class="row">
    <%@allPdf && @allPdf.each do |element| %>
    <div class="col-xl-4">
      <section class="col-11 elementColor">
        <a class="list-group-item list-group-item-action flex-column align-items-start  backgroundDoc">
          <embed src="<%=element.fileDocument%>#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="100%" height="100%" />
            <div class="d-flex w-100 justify-content-between">
              <input type="hidden" name="pdf" value="<%=element.id%>"></input>
              <h4 class="mb-1"><%= element.name%></h4>
              <h5 class="text-muted"><%= element.date%></h5>
            </div>
            <h6 class="mb-1"><%= element.description%></h6>
          </a>
        </section>
    </div>
  <% end %>
</div>
