<% if @errormsg %>
  <div class="alert alert-success" role="alert">
    <%= @errormsg %>
  </div>
<% end %>
<div class="row blue-grey lighten-5">
  <form action="documents_filter" method="POST">
    <div class="col m10 l10">
      <div class="col m6 l3">
        <div class="input-field col s10 m10 l10">
          <select  class="mi-selector" name='document_id' id="doc">
            <option value="" disabled selected>Elija el Documento</option>
            <%@all_documents && @all_documents.each do |element| %>
            <option value='<%= element.id%>'><%= element.name%></option>
            <% end %>
          </select>
          <label for="doc">Documento</label>
        </div>
      </div>
      <div class="col m6 l3">
        <div class="input-field col s10 m10 l10">
          <select  class="mi-selector" name='category_id' id="cat">
            <option value="" disabled selected>Elija la Categoria</option>
            <%@all_categories && @all_categories.each do |element| %>
            <option value='<%= element.id%>'><%= element.name%></option>
            <% end %>
          </select>
          <label for="cat">Categoria</label>
        </div>
      </div>
      <div class="col m6 l3">
        <div class="input-field col s10 m10 l10">
          <select  class="form-control mi-selector" name='filter'id="ord">
            <option disabled selected>ordenar por:</option>
            <option value='date0'>Fecha</option>
            <option value='date1'>Nombre</option>
          </select>
          <label for="ord">Orden:</label>
        </div>
      </div>
      <div class="col m6 l3">
        <div class="input-field col s10 m10 l10">
          <input type="text" id="fecha" class="datepicker" name="dateDoc">
          <label for="fecha">Fecha</label>
        </div>
      </div>
    </div>
    <div class="col m2 l2">
      <div class="input-field center col m12 l6">
        <button type="submit" class="btn-floating btn waves-effect waves-light blue lighten-3 z-depth-3">
          <i class="material-icons">search</i>
        </button>
      </div>
      <div class="input-field center col m12 l6">
        <button type="submit" class="btn-floating btn waves-effect waves-light blue lighten-3 z-depth-3">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <% @all_documents && @all_documents.each do |element| %>
  <div class="container col m6 l3">
    <div class="card small"">
      <div class="card-image">
        <embed  src="<%=element.fileDocument%>" type="application/pdf" width="100%" height="100%" />
        </div>
        <div class="card-content white">
          <div class="row">
            <span class="card-title activator grey-text text-darken-4"><%= element.name%><i class="material-icons right">more_vert</i></span>
            <div class="col m3 l3">
              <p>
                <a class="btn-floating btn waves-effect waves-light blue lighten-3 z-depth-3" href="<%=element.fileDocument%>" download="<%= element.name%>"><i class="material-icons">file_download</i>
                </a>
              </p>
            </div>
            <div class="col m3 l3">
              <form method="post" action="/delete_document">
                <input type="hidden" name="delete_document_id" value="<%=element.id%>"></input>
                <button type="submit" class="btn-floating btn waves-effect waves-light blue lighten-3 z-depth-3" onclick="enviar();">
                  <i class="material-icons">delete</i>
                </button>
              </form>
            </div>
            <div class="col m3 l3">
              <form action="/select_document" method="post">
                <input type="hidden" name="select_id" value="<%=element.id%>"></input>
                <button class="btn-floating btn waves-effect waves-light blue lighten-3 z-depth-3" type="submit">
                  <i class="material-icons">edit</i>
                </button>
              </form>
            </div>
            <div class="col m3 l3 ">
              <form  method="POST" action="/see_document">
                <input type="hidden" name="seen_document_id" value="<%= element.id %>"></input>
                <input type="hidden" name="road" value="/all_document"></input>
                <input type="hidden" name="name" value="Documentos"></input>
                <button class="btn-floating btn waves-effect waves-light blue lighten-3 z-depth-3" type="submit">
                  <i class="material-icons">local_library</i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= element.name%><i class="material-icons right">close</i></span>
          <h6 class="black-text text-darken-1">Fecha: <%= element.date%></h6>
          <h6 class="black-text text-darken-1">Descripción: <%= element.description%></h6>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light modal-trigger  red z-depth-3" href="#modal1"><i class="material-icons">add</i></a>
  </div>
  <div id="modal1" class="modal">
    <form id="form" method="post" action="create_document" enctype="multipart/form-data">
      <div class="modal-title center light-blue-text">
        <h4 class="section">Crear Documento</h4>
      </div>
      <div class="divider light-blue lighten-2"></div>
      <div class="modal-content">
        <div class="form-group">
          <label class="black-text" >Nombre del documento:</label>
          <input id="input" type="text" name="name" required minlength="3" maxlength="50">
        </div>
        <div class="form-group">
          <label class="black-text">Descripcion del documento:</label>
          <input type="text" name="description" required minlength="3" maxlength="1000">
        </div>
        <div class="form-group">
          <select  class="form-control mi-selector validate" name='category' >
            <option value="" disabled selected>Elija la categoria</option>
            <%@all_categories && @all_categories.each do |element| %>
            <option value='<%= element.id%>'><%= element.name%></option>
            <% end %>
          </select>
          <select class="form-control mi-selector validate" name='users_tagged[]' multiple>
            <option value="" disabled selected>Etiquetar Personas</option>
            <%@users_name && @users_name.each do |element| %>
            <option value= "<%= element.id%>" > <%= element.name%> </option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <div class="center container">
          <div class="file-field input-field">
            <div class="btn blue lighten-3 waves-effect waves-light black-text z-depth-3">
              <span>Seleccione un archivo</span>
              <input type="file" id="file" name="PDF" accept=".pdf"required>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <button class="btn blue lighten-3  waves-effect waves-light black-text z-depth-3" type="submit" onclick="enviar();">Subir</button>
        </div>
      </div>
    </form>
  </div>
