<div class="row ">
  <div class=" col-xl-4">
    <div class="row container">
      <form class="container col-xl-11 backgroundFroms text-center" action="/create_category" method="Post">
        <div class="form-group">
            <input type="text" class="form-control backgroundImput" name="name"placeholder="Input category name" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control backgroundImput" name="name"placeholder="Input description" required>
        </div>
        <div class="form-group text-center">
          <button id="buttonLogin" type="submit" class="text-center" type="submit">Create</button>
        </div>
      </form>
    </div>
    <div class="row container">
      <form class="container col-xl-11 backgroundFroms text-center" action="/search_category" method="Post">
        <div class="form-group">
            <input type="text" class="form-control backgroundImput" name="name"placeholder="Input the category name" required>
        </div>
        <div class="form-group text-center">
          <button type="submit" class=" text-center" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-xl-4">
    <nav class="container col-xl-11 backgroundFroms">
      <% @cat && @cat.each do |element| %>
      <input type="radio" name="name" value="<%=element.name%>">
      <label for="name">Name: <%=element.name%></label>
      <label for="description">- Description: <%=element.description%></label>   <br>
      <% end %>
      <section class="row">
        <%if @cat%>
        <a class="nav-link slideButtonsNavBarB" href="/delete_category">Delete</a>
        <a class="nav-link slideButtonsNavBarB" href="/modify_category">Edit</a>
        <%end%>
      </section>
    </nav>
  </div>
  <div class="col-xl-4">
    <form class="container col-xl-11 backgroundFroms" method="POST" action="/modify_category">
        <%if @categor%>
          <div class="form-group">
              <label class="text-center">Name: <%=@categor.name%></label>
              <input type="text" class="form-control backgroundImput" name="name"placeholder="Input the new name" required>
          </div>
          <div class="form-group">
            <label> Description: <%=@categor.description%> </label>
            <input type="text" class="form-control backgroundImput" name="description" placeholder="Input the new description" required>
          </div>
          <div class="form-group text-center">
            <button type="submit" class=" text-center" type="submit">Modify</button>
          </div>
        <%end%>
    </form>
  </div>
</div>
