<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>create document</title>
  </head>
  <body>
    <form method="post" action="create_document" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="Input the name">
      <input type="text" name="description" placeholder="Input the description">
      <input type="text" name="date" placeholder="Input the date">
      <input type="file" name="PDF" accept=".pdf">
      <!-- <button type="button" onclick="document.getElementById('fileInput').click();">Examinar...</button> -->
      <button type="submit">Subir</button>
      <p></p>
      <% @categories.each do |element| %>
        <input type="radio" name="cat" value="<%= element.id%>"><%= element.name%>
        <br>
      <% end %>
      <p></p>
      <% @userCreate.each do |element| %>
        <input type="checkbox" name="<%= element.id%>"" value="<%= element.id%>"><%= element.name%>
        <br>
      <% end %>
    </form>
  </body>
</html>
