<!DOCTYPE html>
<html>

	<body>
		<div class="centraTabla">
		<table><tr>
			<form action="/" method="POST">
					<td><p>Filter by: </p></td>
					<td><p>Date: <br><input type="date" name="date"></p></td>
					<td><p>Users involved: <br><input type="" name="users"></p></td>
					<td><p>Categories: <select id="category" name="category">
                        <option value=""> None </option>
                       	<% @categories.each do |category| %>
            			<option value= <%= category.name %> > <%= category.name %> </option>
            			<% end %>
            			</select></p></td>
					<td><input type="submit" value="FILTER"></td>
				</p>
			</form>
		</tr></table>
		</div>

		<div class="centraTabla">
		<table class="tabladocs"> 
		<% @documents.each do |doc| %>
		<tr>
 		<td><%= doc.date %></td>
 		<td><%= doc.name %></td>
 		<td><%= doc.userstaged %></td>
 		<td><%= doc.categorytaged %></td>
 		<td>
			<a href="/preview/<%= doc.id %>" target="_blank"> VIEW</a>	
 		</td>		
		<% end %>
		</tr>
		</table>
		</div>
	
	</body>
</html>
