<!DOCTYPE html>
<html>

	<body>
	<br>
	<form action="/" method="POST">
		<div class="row justify-content-center align-items-center h-100">
    		<div class="col-auto form-group">
				<input type="date" class="form-control" name="date">
			</div>
			<div class="col-auto form-group">
               		<input type="text" name="users" class="form-control" placeholder="Users involved">
            </div>
            <div class="col-auto form-group">
				<select id="category" name="category" class="col custom-select">
            		<option value=""> None </option>
           			<% @categories.each do |category| %>
					<option value= <%= category.name %> > <%= category.name %> </option>
					<% end %>	
				</select>	
			</div>
			<div class="col-auto form-group">	
				<input class="btn btn-primary" type="submit" value="FILTER">	   
  			</div>
  		</div>
	</form>

		<table class="table table-stripped table-hover"> 
		<thead class="bg-primary text-light">
		    <tr>
		        <th scope="col">Title</th>
		    	<th scope="col">Date</th>
		        <th scope="col">Users</th>
		        <th scope="col">Category</th>
		    </tr>
		</thead>
		<% @documents.each do |doc| %>
		<tbody>
		<tr style="transform: rotate(0);">
    		<th><a  href="/view/<%= doc.id %>" target="blank" class="stretched-link text-muted" ><%= doc.name %></a></th>
 			<td><%= doc.date %></td>
 			<td><%= doc.userstaged %></td>
 			<td><%= doc.categorytaged %></td>	
			<% end %>
		</a></tr>
		</tbody>
		</table>

	</body>
</html>
