<!DOCTYPE html>
<html>

	<body>
	<br>
	<form action="/documents" method="POST">
		<div class="row justify-content-center align-items-center h-100">
    		<div class="col-auto form-group">
				<input type="date" class="form-control" name="date">
			</div>
			<div class="col-auto form-group">
               		<input type="text" name="users" class="form-control" placeholder="Users involved">
            </div>
            <div class="col-auto form-group">
				<select id="category" name="category" class="col custom-select">
            		<option value=""> None </option>
           			<% @categories.each do |category| %>
					<option value= <%= category.name %> > <%= category.name %> </option>
					<% end %>	
				</select>	
			</div>
			<% if @view && @view == "table" %>
				<input type="hidden" name="forma" value="table">
			<% end %>
			<div class="col-auto form-group">	
				<input class="btn btn-primary" type="submit" value="FILTER">	   
  			</div>
  		</div>
	</form>

	<% if @view == "table" %>
		<table class="table table-stripped table-hover"> 
		<thead class="bg-primary text-light">
		    <tr>
		        <th scope="col">Title</th>
		    	<th scope="col">Date</th>
		        <th scope="col">Users</th>
		        <th scope="col">Category</th>
		    </tr>
		</thead>
		<% @documents.each do |doc| %>
		<tbody>
		<tr style="transform: rotate(0);">
    		<th><a  href="/view/<%= doc.id %>" target="blank" class="stretched-link text-muted" ><%= doc.name %></a></th>
 			<td><%= doc.date %></td>
 			<td><%= doc.userstaged %></td>
 			<td><%= doc.categorytaged %></td>	
			<% end %>
		</a></tr>
		</tbody>
		</table>
	<% else %>
		<div class="container-fluid">
			<div class="row">
	    		<% @documents.each do |doc| %>
					<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
	  					<div class="card h-100 bg-primary text-light">
	    					<a href="/view/<%= doc.id %>" target="blank" class="stretched-link text-muted" ><embed class="card-img-top" src="/file/<%= doc.id %>.pdf" type="application/pdf"></>
	    					<div class="card-body">
	  							<h4 class="card-title">
	    							<a href="#" class="text-light"><%= doc.name %></a>
	  							</h4>
	  							<h6 class="card-subtitle mb-2 text-muted"><%= doc.categorytaged %></h6>
	  							<p class="card-text"><%= doc.userstaged%></p>
							</div>
							 <div class="card-footer text-muted">
	    						<%= doc.date %>
	  						</div>
	  					</div>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
	</body>
</html>
