<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="row black-text  blue lighten-2">
        <div class="nav-wrapper">
          <div class="col m8">
            <button data-target="slide-out" class="blue lighten-2 sidenav-trigger btn-flat btn-large"><i class="material-icons">menu</i></button>
              <a class="truncate brand-logo black-text">Sistema De Notificaciones UNRC</a>
          </div>
        </div>
      </nav>
    </div>
    <ul id="slide-out" class="sidenav">
      <li> <div class="col s10 m8">
        <img class="responsive-img" src="./img/unrc.png">
      </div></li>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            <a class="black-text"><i class="material-icons">person</i>Iniciar Sesión</a>
          </div>
          <div class="collapsible-body">
          <form class="card-body" method="POST" action="/user_login">
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="email" required>
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password" required>
                <label for="password">Contraseña</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field center col s12">
                <button type="submit" class="btn">Iniciar</button>
              </div>
            </div>
          </form>
          </div>
        </li>
      </ul>
      <li><ul class="collapsible"><li>
        <div class="collapsible-header">
          <a class="black-text"><i class="material-icons">person_add</i>Crear Usuario</a>
        </div>
        <div class="collapsible-body">
          <form class="card-body" for="validation01" method="POST" action="/new_user">
            <div class="row">
              <div class="input-field col s12">
                <input id="name" type="text" class="validate" name="name" required>
                <label for="name">Nombre</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="surname" type="text" class="validate" name="surname" required>
                <label for="surname">Apellido</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="dni" type="number" class="validate" name="dni" required>
                <label for="dni">DNI</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="newEmail" type="email" class="validate" name="email" required>
                <label for="newEmail">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="newPassword" type="password" class="validate" name="password" required>
                <label for="newPassword">Contraseña</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select id="rol" type="passworolrd" class="validate" name="rol" required>
                  <option class="black-text" value="Estudiante">Estudiante</option>
                  <option value="Profesor">Docente</option>
                  <option value="Profesor">No Docente</option>
                  <option value="Administrativo">Administrativo</option>
                </select>
                <label for="rol">Rol</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field center col s12">
                <button type="submit" class="btn teal lighten-4 ">Crear</button>
              </div>
            </div>
          </form>
        </div></li>
      </ul></li>
      <li><div class="center">
      <a class="black-text" href="https://www.facebook.com/DARKNetflix/?hc_ref=ARTLwXrsx--tE3UwOwh3icoTxW6DrKYVbVoxlvXeSoxdm-JsWsnADNCqJRP59mqXrhE&fref=nf&__tn__=kC-R"><i class="material-icons">facebook</i></a>
      <a class="black-text" href="https://twitter.com/DarkNetflixES?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="material-icons">facebook</i></a>
      <a class="black-text" href="https://www.instagram.com/darknetflix/?hl=es-la"><i class="material-icons">facebook</i></a>
    </div></li>
    <li><div class="section2"></div> </li>
    </ul>

    <div class="row">
      <% @document && @document.each do |element| %>
        <div class="container col m6 l3">
          <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
              <embed  src="<%=element.fileDocument%>" type="application/pdf" width="100%" height="200%" />
            </div>
            <div class="card-content">
              <div class="row">
                <span class="card-title activator grey-text text-darken-4"><%= element.name%><i class="material-icons right">more_vert</i></span>
                <div class="col l6">
                  <p>
                      <a class="btn-floating btn waves-effect waves-light blue lighten-3" href="<%=element.fileDocument%>" download="<%= element.name%>"><i class="material-icons">file_download</i>
                      </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><%= element.name%><i class="material-icons right">close</i></span>
              <h6 class="blue-text text-darken-1">Fecha: <%= element.date%></h6>
              <h6 class="blue-text text-darken-1">Descripción: <%= element.description%></h6>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <footer class=" main body page-footer black-text blue lighten-2">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Sistema De Notificaciones UNRC</h5>
          <p class="grey-text text-darken-3">  UNIVERSIDAD NACIONAL DE RÍO CUARTO / RUTA NAC. 36 - KM. 601 / RÍO IV - CÓRDOBA - ARGENTINA.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="black-text">Links</h5>
          <ul>
            <li><a class="grey-text text-darken-3" href="https://www.unrc.edu.ar/">Universidad Nacional de Río Cuarto</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright blue lighten-1">
        <div class="container white-text ">
          © 2020 Copyright Text
          <a class="white-text  right" href="#!">Mas enlaces</a>
        </div>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--JavaScript con SideNav y WebSocket -->

    <script type="text/javascript" src="./js/myscript.js"></script>
  </body>
</html>
