<!DOCTYPE html>
<html>
	<head>
		<title>DOCUMENT UPLOAD AND NOTIFICATION SYSTEM</title>
		<meta charset="utf-8">
		<meta name="viewport" content="widht=device-width, initial-sacale=1">
		<link rel="stylesheet" type="text/css" href="est.css">
	</head>
	<body>
		<header class="header">
			<div class="container logo-nav-container">
				<a href="/" class="title">DOCUMENT UPLOAD & NOTIFIACTION SYSTEM</a>
				<nav class="navigation">
					<ul>
                        <li><a href="/"> Docs</a></li>                     
                        <li style="display:<%= @logged2 %>;"><a href="/signup"> Sign up</a></li> 
                        <li style="display:<%= @logged2 %>;"><a href="/login"> Log in</a></li>
                        <li style="display:<%= @logged2 %>;"><a href="/aboutus"> About us</a></li>
                        <li style="display:<%= @logged %>;"><a href="/profile"> Profile </a></li> 
                        <li style="display:<%= @logged %>;"><a href="/notification"> Notification </a></li>
                        <li style="display:<%= @logged %>;"><a href="/logout"> Log out </a></li>
                    </ul>
				</nav>
			</div>
		</header>
		<%= yield %>
	</body>
</html>
