<form method="post" action="migrate_document">
    <div class="container col-xl-4">
      <div class="backgroundFroms col-xl-8">
        <%@allpdf.each do |element| %>
        <div class="form-group">
          <input type="checkbox" name="name[]" value="<%=element.name%>">
          <label>Nombre <%=element.name%></label>
          <label>Descripción <%=element.description%></label>
        </div>
        <% end %>
        <div class="form-group text-center">
          <% @cat.each do |element| %>
            <input type="radio" name="cat" value="<%= element.id%>"><%= element.name%>
          <% end %>
          <button type="submit" id="buttonLogin" class="text-center">Modificar</button>
        </div>
      </div>
    </div>
</form>
