 <div class="row">
  <div class="card-image col l8 m12 ">
    <embed  src="<%= @document_modify.fileDocument%>" type="application/pdf" width="100%" height="500px" />
  </div>
  <div class="card-image col l4 m12">
    <form class="card-body" for="validation01" method="post" action="/modify_document">
      <input type="hidden" name="the_id" value="<%=@document_modify.id%>">
      <h4 class="section center">Editar Documento</h4>
      <div class="divider light-blue lighten-2"></div>
      <div class="form-group">
        <label class="black-text">Nombre del documento:</label>
        <input value="<%=@document_modify.name%>" type="text" name="new_name">
      </div>
      <div class="form-group">
        <label class="black-text">Descripcion del documento:</label>
        <input type="text"  value="<%=@document_modify.description%>" name="description">
      </div>
      <div class="form-group">
        <select  class="form-control mi-selector" name='category'>
          <%@categories_modify && @categories_modify.each do |element| %>
          <option value="<%=element.id%>" selected><%=element.name%></option>
          <% end %>
          <%@all_categories && @all_categories.each do |element| %>
          <option value="<%= element.id%>"><%= element.name%></option>
          <% end %>
        </select>
        <select name='users_tagged[]' multiple>
          <%@users_tagged && @users_tagged.each do |element| %>
          <option value="<%=element.id%>" selected><%=element.name%></option>
          <% end %>
          <%@users && @users.each do |element| %>
          <option value= "<%= element.id%>"> <%= element.name%> </option>
          <% end %>
        </select>
      </div>
      <div class="divider light-blue lighten-2"></div>
      <div class="section"></div>
      <div class="form-group center">
        <button class="btn-large blue lighten-3  waves-effect waves-light black-text z-depth-3" type="submit" onclick="enviar();">Guardar</button>
      </div>
    </form>
  </div>
</div>
