    <div class="alert alert-success" role="alert">
        Notificaciones por Etiqueta
    </div>
    <div class="row">
      <%@allPdfEt && @allPdfEt.each do |element| %>
        <div class="col-xl-4">
          <section class="col-11 elementColor">
            <a class="list-group-item list-group-item-action flex-column align-items-start  backgroundDoc">
              <embed src="<%=element.fileDocument%>#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="100%" height="100%" />
              <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1"><%= element.name%></h4>
                <h5 class="text-muted"><%= element.date%></h5>
              </div>
              <h6 class="mb-1"><%= element.description%></h6>
              <form class="col-6" action="delete_notificaciones" method="post" >
                <input type="hidden" name="theId" value="<%=element.id%>"/>
                <input type="hidden" name="theDescription" value="etiquetaron">
                <button id="buttonLogin"  type="submit">Visto</button>
              </form>
            </a>
          </section>
        </div>
      <% end %>
    </div>
   <div class="alert alert-success" role="alert">
        Notificaciones por categorias
    </div>
    <div class="row">
      <%@allPdfCat && @allPdfCat.each do |element| %>
        <div class="col-xl-4">
          <section class="col-11 elementColor">
            <a class="list-group-item list-group-item-action flex-column align-items-start  backgroundDoc">
              <embed src="<%=element.fileDocument%>#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="100%" height="100%" />
              <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1"><%= element.name%></h4>
                <h5 class="text-muted"><%= element.date%></h5>
              </div>
              <h6 class="mb-1"><%= element.description%></h6>
              <div class="row d-flex w-100 justify-content-between">
                  <form class="col-6" action="delete_notificaciones" method="post" >
                     <input type="hidden" name="theId" value="<%=element.id%>"/>
                     <input type="hidden" name="theDescription" value="categoria">
                     <button id="buttonLogin" type="submit">Visto</button>
                  </form>
              </div>
            </a>
          </section>
        </div>
      <% end %>
    </div>
