<div class="row">
  <%@document_tagged && @document_tagged.each do |element| %>
  <div class="section container col m6 l3">
    <div class="card z-depth-3 white">
      <div class="row col m12 divider blue lighten-3"></div>
      <div class="card-content">
        <% if element.info %>
        <span class="card-title activator grey-text text-darken-4">
          Notificacion Leida<i class="material-icons right">more_vert</i>
        </span>
        <% else %>
        <span class="card-title activator grey-text text-darken-4">
          Notificacion Nueva<i class="material-icons right">more_vert</i>
        </span>
        <% end %>
        <div class="row col m12 divider blue lighten-3"></div>
        <div class="row">
          <div class="col m4 center">
            <form method="POST" action="/mark_notification">
              <input type="hidden" name="seen_id" value="<%= element.notification.id %>"></input>
              <button type="submit" class=" btn-small btn-floating  waves-effect waves-light blue lighten-3  z-depth-3">
                <i class="material-icons">done</i>
              </button>
            </form>
          </div>
          <div class="col m4 center">
            <form  method="POST" action="/see_document">
              <input type="hidden" name="name" value="Notificaciones"></input>
              <input type="hidden" name="road" value="/notification"></input>
              <input type="hidden" name="seen_document_id" value="<%= element.document.id %>"></input>
              <button class=" btn-small btn-floating  waves-effect waves-light blue lighten-3 z-depth-3" type="submit"><i class="material-icons">local_library</i></button>
            </form>
          </div>
          <div class="col m4 center">
            <form method="POST" action="/delete_notification">
              <input type="hidden" name="delete_notification_id" value="<%= element.notification.id %>"></input>
              <button type="submit" class=" btn-small btn-floating  waves-effect waves-light blue lighten-3 z-depth-3">
                <i class="material-icons">delete</i>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>
          <h6>En: <%= element.document.name %></h6>
        </span>
        <p>
          <div class="col m12 divider blue lighten-3"></div>
          Descripción:<br><%= element.document.description %><br>
          <div class="col m12 divider blue lighten-3"></div>
          Fecha: <%= element.notification.date %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
  <div class="row col m12 divider blue lighten-3"></div>
</div>
<div class="row">
  <%@notif_subscribed_category && @notif_subscribed_category.each do |element| %>
  <div class="section container col m6 l3">
    <div class="card z-depth-3 white">
      <div class="row col m12 divider blue lighten-3"></div>
      <div class="card-content">
        <%if element.info %>
        <span class="card-title activator grey-text text-darken-4">
          Notificacion Leida<i class="material-icons right">more_vert</i>
        </span>
        <% else %>
        <span class="card-title activator grey-text text-darken-4">
          Notificacion Nueva<i class="material-icons right">more_vert</i>
        </span>
        <% end %>
        <div class="row col m12 divider blue lighten-3"></div>
        <div class="row">
          <div class="col m4 center">
            <form method="POST" action="/mark_notification">
              <input type="hidden" name="seen_id" value="<%= element.notification.id %>"></input>
              <button type="submit" class=" btn-small btn-floating  waves-effect waves-light blue lighten-3  z-depth-3">
                <i class="material-icons">done</i>
              </button>
            </form>
          </div>
          <div class="col m4 center">
            <form  method="POST" action="/see_document">
              <input type="hidden" name="seen_document_id" value="<%= element.document.id %>"></input>
              <button class=" btn-small btn-floating  waves-effect waves-light blue lighten-3 z-depth-3" type="submit"><i class="material-icons">visibility</i></button>
            </form>
          </div>
          <div class="col m4 center">
            <form method="POST" action="/delete_notification">
              <input type="hidden" name="delete_notification_id" value="<%= element.notification.id %>"></input>
              <button type="submit" class=" btn-small btn-floating  waves-effect waves-light blue lighten-3 z-depth-3">
                <i class="material-icons">delete</i>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>
          <h6><%= element.document.name %></h6>
        </span>
        <p>
          <div class="col m12 divider blue lighten-3"></div>
          Descripción:<br><%= element.document.description %><br>
          <div class="col m12 divider blue lighten-3"></div>
          Fecha:<%= element.notification.date %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
