<!DOCTYPE html>
<html>
    <head>
      <style>
          table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }

          td, th {
            border: 1px solid #0066ff;
            text-align: left;
            padding: 8px;
          }

          
        </style>
    </head>
    <% if @current_user %>
      Usuario: <%= @current_user.name %></br>
      Email: <%= @current_user.email %></br>
    <% end %>    
    <h2>Documentos cargados</h2>
      <table> 
		    <tr>
		        <th scope="col">Nombre</th>
		    	  <th scope="col">Fecha</th>
		        <th scope="col">Subido por</th>
		        <th scope="col">Asunto</th>
		    </tr>
		    </thead>
		     <% @documents.each do |doc| %>
		    <tbody>
		      <tr>
           <th><a  href="/view/<%= doc.name %>"><%= doc.name %></a></th>
 			     <td><%= doc.date %></td>
 			     <td><%= doc.uploader %></td>
 			     <td><%= doc.subject %></td>
			     <% end %>
		      </tr>
		    </tbody>
		</table>
    </body>
    <body>
      <h1>Simple Echo & Chat Server</h1>     
      <form id="form">       
      <input type="text" id="input" value="Escribe algo.."></input>
      </form>    
      <div id="msgs"></div> 
    </body> 
      <script type="text/javascript"> 
        window.onload = function(){
        (function(){        
          var show = function(el){
            return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
          }(document.getElementById('msgs'));
          var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);        
          ws.onopen    = function()  { show('websocket abierto'); };        
          ws.onclose   = function()  { show('websocket cerrado'); }        
          ws.onmessage = function(m) { show('websocket mensaje: ' +  m.data); };
          var sender = function(f){
            var input     = document.getElementById('input');          
            input.onclick = function(){ input.value = "" };          
            f.onsubmit    = function(){
              ws.send(input.value);            
              input.value = "Escribe algo..";
              return false;
            }
          }(document.getElementById('form'));
        })();
      }  
    </script>
</html>
