<div class="row">
  <% @all_documents && @all_documents.each do |element| %>
    <div class="container col m6 l3">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <embed  src="<%=element.fileDocument%>" type="application/pdf" width="100%" height="200%" />
        </div>
        <div class="card-content">
          <div class="row">
            <span class="card-title activator grey-text text-darken-4"><%= element.name%><i class="material-icons right">more_vert</i></span>
            <div class="row">
              <div class="col m3 l3">
                <p>
                  <a class="btn-floating btn waves-effect waves-light z-depth-3 blue lighten-3" href="<%=element.fileDocument%>" download="<%= element.name%>"><i class="material-icons">file_download</i>
                  </a>
                </p>
                </div>
                <div class="col m3 l3">
                  <form  method="POST" action="/see_document">
                    <input type="hidden" name="seen_document_id" value="<%= element.id %>"></input>
                    <input type="hidden" name="road" value="/profile"></input>
                    <input type="hidden" name="name" value="Perfil"></input>
                    <button class="btn btn-floating waves-effect waves-light blue lighten-3 z-depth-3" type="submit"><i class="material-icons">local_library</i></button>
                  </form>
                </div>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= element.name%><i class="material-icons right">close</i></span>
          <h6 class="black-text text-darken-1">Fecha: <%= element.date%></h6>
          <h6 class="black-text text-darken-1">Descripción: <%= element.description%></h6>
        </div>
      </div>
    </div>
  <% end %>
</div>
