<form method="post" action="modify_document">
  <%@pdfD = Document.find(id: params[:pdf])%>
  <input type="hidden" name="theId" value="<%=@pdfD.id%>">
  <div class="row">
    <div class="container col-xl-4">
      <div class="backgroundFroms col-xl-10">
        <div class="form-group">
          <label>Nombre actual:<%=@pdfD.name%></label>
          <input type="text" class="form-control backgroundImput" name="name"placeholder="Input the new name">
        </div>
        <div class="form-group">
          <label>Descripción actual: <%=@pdfD.description%></label>
          <input type="text" class="form-control backgroundImput" name="description" placeholder="Input the new description">
        </div>
      </div>
    </div>
    <div class="container col-xl-4">
      <div class="backgroundFroms col-xl-10">
        <% @allCat.each do |element| %>
          <input type="radio" name="cat" value="<%= element.id%>"><%= element.name%>
          <br>
        <% end %>
      </div>
    </div>
    <div class="container col-xl-4">
      <div class="backgroundFroms col-xl-10">
        <% @userCreate.each do |element| %>
          <input type="checkbox" name="mult[]"" value="<%= element.id%>"><%= element.name%>
          <br>
        <% end %>
      </div>
    </div>
  </div>
  <p></p>
  <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a></a>
        <div>
          <button type="submit" id="buttonIndex" class="nav-link">Modificar</button>
        </div>
      </div>
    </nav>
</form>
<form method="post" action="delete_document">
  <% if @axu%>
  <input type="hidden" name="theId" value="<%=@pdfD.id%>">
  <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a></a>
        <div>
          <button type="submit"  id="buttonIndex" class="nav-link">Eliminar</button>
        </div>
      </div>
    </nav>
  <%end%>
</form>
