<form method="post" action="modify_document">
  <%@pdfD = Document.find(id: params[:pdf])%>
  <input type="hidden" name="theId" value="<%=@pdfD.id%>">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-3">
      <div class="backgroundform1" style="text-align: center;">
        <p>Actual nombre: <%=@pdfD.name%>
          <input type="text" name="name" placeholder="Input the new name">
        </p>
        <p>Actual descripción: <%=@pdfD.description%>
          <input type="text" name="description" placeholder="Input the new description">
        </p>
      </div>
    </div>
    <div class="col-1">
    </div>
    <div class="col-3">
      <div class="backgroundform1 texte-center">
        <% @allCat.each do |element| %>
          <input type="radio" name="cat" value="<%= element.id%>"><%= element.name%>
          <br>
        <% end %>
      </div>
    </div>
    <div class="col-3">
      <div class="backgroundform1 texte-center">
        <% @userCreate.each do |element| %>
          <input type="checkbox" name="mult[]"" value="<%= element.id%>"><%= element.name%>
          <br>
        <% end %>
      </div>
    </div>
  </div>
  <p></p>
  <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a></a>
        <div>
          <button type="submit" id="buttonMag" class="btn bnt-lg nav-link button2">Modificar</button>
        </div>
      </div>
    </nav>
</form>
<form method="post" action="delete_document">
  <% if @axu%>
  <input type="hidden" name="theId" value="<%=@pdfD.id%>">
  <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a></a>
        <div>
          <button type="submit" id="buttonMag" class="btn bnt-lg nav-link button2">Eliminar</button>
        </div>
      </div>
    </nav>
  <%end%>
</form>
