<html>
    <head>
        <style>
          table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }

          td, th {
            border: 1px solid #0066ff;
            text-align: left;
            padding: 8px;
          }

          
        </style>
        <title>CARGA DE DOCUMENTO</title>
    </head>
    <body>
        <h1>Cargar documento</h1>
        <form action="/save_documents" method="POST" enctype="multipart/form-data">
            <label for="subject"><b>Asunto</b></label>
            <input type="text" placeholder="Cual es el asunto del documento?" name="subject" required>

            <label for="date"><b>Fecha</b></label>
            <input type="date" placeholder="Cual es la fecha de hoy? (yo no se)" name="date" required>

            <input type="file" name="file" required></br>
            <input type="submit" value="Upload Document">
        </form>
        

        <h2>Documentos cargados</h2>
        <form action="/documents" method="POST">
          <label for="date"><b>Filtrar</b></label>
          <input type="date" placeholder="Ingrese fecha" name="date" required>
          <input type="submit" value="Buscar">
        </form>
     
        <table> 
		    <tr>
		        <th scope="col">Nombre</th>
		    	  <th scope="col">Fecha</th>
		        <th scope="col">Subido por</th>
		        <th scope="col">Asunto</th>
            <th scope="col">Accion</th>
		    </tr>
		    </thead>
		     <% @documents.each do |doc| %>
		    <tbody>
		 
    	    <tr>
           <th><a  href="/view/<%= doc.name %>"><%= doc.name %></a></th>
 			     <td><%= doc.date %></td>
 			     <td><%= doc.uploader %></td>
 			     <td><%= doc.subject %></td>
           <th><a  href="/remove/<%= doc.name %>">Eliminar</a></th>	
			     <% end %>
		      </tr>
		    </tbody>
		</table>
    </body>
</html>
