<!DOCTYPE html>
<html>

	<body>
		<div class="centraTabla">
		<table class="table table-stripped table-hover"> 
		<thead class="bg-dark text-light">
		    <tr>
		        <th scope="col">Title</th>
		    	<th scope="col">Date</th>
		        <th scope="col">Users</th>
		        <th scope="col">Category</th>
		    </tr>
		</thead>
		<% @documents.each do |doc| %>
		<tbody>
		<tr style="transform: rotate(0);">
    		<th><a  href="/view/<%= doc.id %>" target="blank" class="stretched-link text-muted" ><%= doc.name %></a></th>
 			<td><%= doc.date %></td>
 			<td><%= doc.userstaged %></td>
 			<td><%= doc.categorytaged %></td>	
			<% end %>
		</a></tr>
		</tbody>
		</table>
		</div>
	</body>
</html>